services:
  postgres:
    image: postgres:17.6-alpine
    environment:
      TZ: 'UTC'
      PGTZ: 'UTC'
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - internal
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 10s
      timeout: 5s
      retries: 5
    command: ['postgres', '-c', 'log_statement=all']

volumes:
  pgdata:

networks:
  internal:
